*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background: white;
  background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
  background-size: 30px 30px;
}
p,a,span,li{
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  list-style: none;
}
li{
  margin-bottom: 15px;
}
.container-wrapper{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  margin: 5em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: whitesmoke;
}
.left-grid{
  grid-column: 1;
  background-color: whitesmoke;
  margin: auto;
}
.right-grid{
  grid-column: 2;
  background-color: white;
  padding: 3em;
}
.button-drag-drop{
  display: none;
}
.download{
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.mybt{
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
  border-radius: 3px;
}
.mybt:hover {
    background-color: rgba(255, 0, 0, 0.56);

}